# Python Libraries
openai==1.101.0
python-dotenv==1.1.1
numpy==2.3.2
pandas==2.3.2
scikit-learn==1.7.1
lime==1.7.1

# CLI Tools
fire==0.7.1

# Additional requirements
flake8==7.3.0
ipython==9.4.0
jupyter==1.1.1
